body {
	background: $ui-background;
	box-sizing: border-box;
	color: $ui-text-light;
	font: 400 16px/1.2rem $brand-font;
	margin: 0;
	padding: 0;
	min-width: 360px;
	width: 100%;

	* {
		box-sizing: border-box;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
	}
}

/* base elements */

h1,
h2 {
	font-weight: 900;
	line-height: 1em;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1em;
}

p {
	font-weight: 200;
	line-height: 1.6em;
}

a {
	color: $ui-primary;
	font-weight: 700;
	text-decoration: none;
}

a:hover {
	color: $ui-secondary;
	text-decoration: underline;
}

li {
	line-height: 1.35rem;
	list-style-type: disc;
	margin-bottom: 0.75rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.button {
	border: 0.125rem solid $ui-primary;
	border-radius: 2rem;
	color: $ui-primary;
	cursor: pointer;
	font-size: 0.65rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
}

.button:hover {
	background-color: $ui-primary;
	color: $ui-text-dark;
	text-decoration: none;
}

.button.solid {
	background-color: $ui-primary;
	border: none;
	border-radius: 2rem;
	color: $ui-text-dark;
	cursor: pointer;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

.button.solid:hover {
	background-color: $ui-secondary;
}

@media screen and (min-width: $screen-sm) {
	.button {
		font-size: 0.85rem;
		padding: 0.25rem 1.5rem;
	}

	.button.solid {
		font-size: 0.85rem;
		padding: 0.5rem 1.75rem;
	}
}

.images_100,
.images_50,
.images_30 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;

	img {
		overflow: hidden;
		height: auto;
		margin: 0;
		border-radius: 1rem;
	}
}

.images_10 {
	img {
		width: 36px;
	}

	svg path {
		fill: $ui-primary;
	}

	&:hover svg path {
		fill: $ui-secondary;
	}
}

.images_30 img {
	width: 100%;
	min-width: 200px;
}

.images_50 img {
	width: 100%;
	min-width: 250px;
}

.images_100 img {
	width: 100%;
}

@media screen and (min-width: $screen-sm) {
	.images_30 {
		width: 200%;
		max-width: 300px;
	}

	.images_30 img {
		width: 30%;
		min-width: 200px;
	}

	.images_50 img {
		width: 48%;
		min-width: 250px;
	}

	.images_100 img {
		width: 100%;
	}
}

.c_header,
.c_wrapper,
.c_main,
.c_container,
.c_hero,
.c_title,
.c_introduction,
.c_body,
.c_section,
.c_portfolio,
.c_footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.c_introduction,
.c_body,
.c_portfolio {
	padding: 1rem 0.5rem;
}

.c_main {
	min-height: 100vh;
}

.c_body {
	gap: 6rem;
}

.c_wrapper {
	background-image: linear-gradient(
		-90deg,
		$brand-white 10%,
		$brand-yellow 20%,
		$brand-orange 35%,
		$brand-red 50%,
		$brand-purple 65%,
		$brand-violet 80%
	);
}
