.c_wrapper {
    background:
        linear-gradient(180deg, scale-color($brand-black, $alpha: -90%), scale-color($brand-black, $alpha: -50%)),
        url(https://ucarecdn.com/f9259c13-e9cb-4e15-a3f8-2a3f4bb13ca7/-/preview/1000x1000/) center bottom / 1000px
            no-repeat,
        $brand-black;
}

.c_header,
.c_wrapper,
.c_main,
.c_container,
.c_hero,
.c_title,
.c_introduction,
.c_body,
.c_section,
.c_footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c_body {
    padding: 1rem 1rem;
}

.c_main {
    max-width: 1200px;
    min-height: 100vh;

    &[data-page-template='Landing Page'] {
        gap: 6rem;

        .c_body {
            gap: 4rem;
            padding: 1rem 0.5rem;

            @media screen and (min-width: $screen-sm) {
                gap: 6rem;
            }
        }
    }

    &[data-page-template='Project List Page'] {
        background: url(https://ucarecdn.com/a671c447-b0d0-4edc-bfab-0f2fcc593462/-/preview/1200x1200/) center -900px / 1200px
            no-repeat;

        .project_list {
            align-content: space-between;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem 1rem;
            width: 100%;

            &__item {
                border-radius: 1rem;
                display: block;
                min-width: 160px;
                width: 100%;

                @media screen and (min-width: $screen-xs) {
                    width: 48%;
                }

                @media screen and (min-width: $screen-md) {
                    width: 32%;
                }
            }
        }
    }

    &[data-page-template='Project Page'] {
        background: url(https://ucarecdn.com/a671c447-b0d0-4edc-bfab-0f2fcc593462/-/preview/1200x1200/) center -660px / 1200px
            no-repeat;
        gap: 3rem;

        .c_body {
            gap: 6rem;
        }
    }

    &[data-page-template='About Page'] {
        background: url(https://ucarecdn.com/a671c447-b0d0-4edc-bfab-0f2fcc593462/-/preview/1200x1200/) center -900px / 1200px
            no-repeat;
        padding: 0 0.25rem 1rem;
    }

    .c_section {
        padding: 1rem 0.5rem;
    }

    .c_body,
    .c_section {
        gap: 1rem;
        max-width: 960px;
    }
}
