// Colors

$brand-white: #fdfaf0;
$brand-yellow: #fdc85f;
$brand-orange: #f87d51;
$brand-red: #ce4868;
$brand-purple: #6a1a71;
$brand-violet: #17095d;
$brand-black: #01013c;

$ui-primary: $brand-yellow;
$ui-secondary: $brand-orange;
$ui-text-light: scale-color($brand-white, $alpha: -20%);
$ui-text-dark: $brand-black;
$ui-background: $brand-black;

$c-header-background-dark: #01013c99;
$c-header-background-light: #fdfaf0c5;

$c-hero-background-color: #01013c27;
$c-hero-background: linear-gradient($c-hero-background-color, $c-hero-background-color);

// Fonts

$brand-font: 'Inter', 'Arial', sans-serif;

// Measurements

$screen-xs: 480px;
$screen-sm: 620px;
$screen-md: 780px;
$screen-lg: 960px;
$screen-xl: 1260px;
