.c_main[data-page-theme='home'] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    min-height: 100vh;
    padding: 1rem 0.5rem;
    width: 100%;

    nav {
        max-width: 960px;
        width: 100%;
    }

    .nav__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .nav__link {
        align-items: center;
        background-color: scale-color($brand-violet, $blackness: 25%);
        border-radius: 1.5rem;
        // border: 1px solid $brand-yellow;
        height: 200px;
        padding: 0.5rem 0.5rem;
        display: flex;
        position: relative;

        line-height: 90%;
        list-style-type: none;
        margin: 0;
        min-width: 200px;
        width: 23%;

        a {
            color: $ui-text-light;
            display: flex;
            font-size: 1.25rem;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &:hover {
                color: $ui-primary;
                text-decoration: none;
            }

            &:before {
                background: url(https://ucarecdn.com/25a9e97f-c274-41f0-8ddb-81791d4d0351/-/preview/1200x1200/) center
                    center / cover;
                content: '';
                display: block;
                height: 200px;
                margin-bottom: 1rem;
                width: 200px;
                border-radius: 1.25rem;
            }
        }
    }
}
