.project_list {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    width: 100%;

    &__item {
        border-radius: 1rem;
        display: block;
        min-width: 160px;
        width: 100%;

        @media screen and (min-width: $screen-xs) {
            width: 48%;
        }

        @media screen and (min-width: $screen-md) {
            width: 32%;
        }
    }
}
