:root {
	/* Colors */
	--brand-white: #fdfaf0;
	--brand-yellow: #fdc85f;
	--brand-orange: #f87d51;
	--brand-red: #ce4868;
	--brand-purple: #6a1a71;
	--brand-violet: #17095d;
	--brand-black: #01013c;
	--co-header-background-dark: #01013c99;
	--co-header-background-light: #fdfaf0c5;
	--co-hero-background-color: #01013c27;
	--co-hero-background: linear-gradient(
		var(--co-hero-background-color),
		var(--co-hero-background-color)
	);

	/* Fonts */
	--brand-font: 'Inter', 'Arial', sans-serif;
}
