.c_footer {
    align-items: center;
    // background: linear-gradient(0deg, #00000099 5%, #00000000 50%);
    gap: 2rem;
    justify-content: flex-end;
    margin-top: 6rem;
    min-width: 360px;
    padding: 2em 0.5em 4em;
}
