.c_footer {
    align-items: center;
    background: linear-gradient(0deg, #00001a, transparent);
    gap: 2rem;
    justify-content: flex-end;
    margin-top: 6rem;
    min-width: 360px;
    padding: 2em 0.5em;
}
