.c_header {
	align-items: flex-end;
	backdrop-filter: blur(8px);
	background: $c-header-background-dark;
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: space-between;
	min-width: 360px;
	padding: 0.35em 0.5em 0.5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

h2.header_logo {
	font-size: 1.25rem;
	line-height: 0.85;

	a {
		color: $ui-text-light;
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $ui-primary;
		}
	}
}
