.nav__group {
    align-items: flex-end;
    display: flex;
    gap: 0.25rem;
    justify-content: space-between;
}

.nav__link {
    line-height: 90%;
    list-style-type: none;
    margin: 0;

    a {
        color: $ui-text-light;
        display: block;
        font-size: 0.85rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0 0.25rem;
        text-align: left;
        text-transform: uppercase;

        &:hover {
            color: $ui-primary;
            text-decoration: none;
        }
    }
}

.nav__icon {
    background-color: $ui-primary;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 36px;
    height: 36px;

    &:hover {
        background-color: $ui-secondary;
    }
}
