.c_topic {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    max-width: 960px;
    padding: 1rem 0.5rem;
    width: 100%;

    @media screen and (min-width: $screen-md) {
        gap: 3rem;

        &:nth-child(odd) {
            flex-direction: row;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    .topic_media {
        align-items: flex-end;
        display: flex;
        flex: 1 1 0;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-end;
        padding: 1rem 0.5rem;

        .topic_image__caption {
            font-weight: 300;
            font-size: 0.85rem;
            line-height: 150%;
        }
    }

    .topic_content {
        padding: 1rem 0.5rem;
        flex: 1 1 0;

        h3.topic_title {
            font-size: 2rem;
            font-weight: 900;
            line-height: 0.9;
            margin-bottom: 2rem;
            text-transform: uppercase;

            @media screen and (min-width: 620px) {
                font-size: 2.75rem;
            }
        }

        .topic_body {
            border-left: 4px solid $brand-yellow;
            margin-left: 1.25rem;
            padding: 0.5rem 0 0.5rem 2rem;

            p {
                margin: 0 0 2rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
